server:
  port: 8084

spring:
  kafka:
    bootstrap-servers: localhost:9092
    consumer:
      group-id: notification-group
      auto-offset-reset: earliest

email:
  host: localhost
  port: 1025
  username: ""
  password: ""

feign:
  client:
    user-service:
      url: http://localhost:8082