server:
  port: 8083

spring:
  data:
    mongodb:
      host: localhost
      port: 27017
      database: myapp
      username: root
      password: example
      authentication-database: admin

  kafka:
    bootstrap-servers: localhost:9092
    producer:
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.apache.kafka.common.serialization.StringSerializer

feign:
  client:
    user-service:
      url: http://localhost:8082