server:
  port: 8082

spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/social_users?options=-c%20TimeZone=UTC
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
  kafka:
    bootstrap-servers: localhost:9092
    producer:
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.apache.kafka.common.serialization.StringSerializer
  jackson:
    time-zone: UTC

service-auth:
  url: http://localhost:8081