apiVersion: apps/v1
kind: Deployment
metadata:
  name: auth-service
  namespace: default
spec:
  replicas: 3
  selector:
    matchLabels:
      app: auth-service
  template:
    metadata:
      labels:
        app: auth-service
    spec:
      restartPolicy: Always        # автоматичний перезапуск при падінні
      containers:
        - name: auth-service
          image: localhost:5000/auth-service:latest
          ports:
            - containerPort: 8081
          livenessProbe:          # перевірка “живучості” пода
            httpGet:
              path: /actuator/health
              port: 8081
            initialDelaySeconds: 15
            periodSeconds: 10
          readinessProbe:         # перевірка готовності пода приймати трафік
            httpGet:
              path: /actuator/health
              port: 8081
            initialDelaySeconds: 10
            periodSeconds: 5